# Next.js dependency & build directories
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/

# Next.js local environment files
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Laravel dependency & build directories
backend/vendor/
backend/node_modules/
backend/bootstrap/cache/
backend/storage/*.key
backend/storage/framework/cache/data/
backend/storage/framework/sessions/
backend/storage/framework/testing/
backend/storage/framework/views/

# Laravel environment & database files
backend/.env
backend/.env.backup
backend/database/database.sqlite-journal

# IDE and OS files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
